* {
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
}
body {
  background: #202020;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
s footer {
  width: 100%;
  height: 100px;
  background-color: black;
}

#container {
  background: #151515;
}

// periodni sistem primer

// periodical table
