$breakpoint-mobile-small-1:320px;
$breakpoint-mobile-small:360px;
$breakpoint-mobile-big: 525px;
$breakpoint-mobile-big-1:625px;
$breakpoint-tablet-small:700px;
$breakpoint-tablet: 768px;
$big-screen-1:1000px;
$big-screen:1220px;
$big-screen-2:2560px;
$height-breakpoint-rotate-mobile:500px;